# Dependencies
node_modules/
.pnpm-debug.log*
yarn.lock
package-lock.json

# Build output
dist/
build/

# System files
.DS_Store
Thumbs.db

# Local / IDE configs
.vscode/
.idea/
.local/


# Logs
*.log

# Archives
*.tar.gz
